doctype html
html(lang=currentLocale, class='page  page--' + pageName)
  include ../includes/head
  body
    //- include ../includes/header

    main(role='main', itemprop='mainContentOfPage', itemscope, itemtype='http://schema.org/Blog')
      block content
