/* ========================================================================
  #GLOBAL
  ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;


$global-fonts: brandon-grotesque, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$headings-fonts: essonnes-display, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


$spacing-unit:                  $inuit-global-spacing-unit;
$spacing-unit-tiny:             $inuit-global-spacing-unit-tiny;
$spacing-unit-small:            $inuit-global-spacing-unit-small;
$spacing-unit-large:            $inuit-global-spacing-unit-large;
$spacing-unit-huge:             $inuit-global-spacing-unit-huge;
