/* ==========================================================================
   #COLORS
   ========================================================================== */

// Color palette
$color-soft-orange:                 #E0BC75;
$color-very-dark-gray:              #333;
$color-gray:                        #ADADAD;
$color-very-light-gray:             #F0F0F0;
$color-very-mostly-white:           #F5F5F5;
$color-white:                       #fff;





// UI color application

$color-brand:                       $color-soft-orange;
$color-text:                        $color-very-dark-gray;
$color-border:                      $color-very-light-gray;





// Links

$color-links:                       $color-text;
$color-links-hover:                 $color-brand;





// Page head






// Site nav
